<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <% include ../partials/header %>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">AMOUNT</th>
                    <th scope="col">QUANTITY</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(function(data) { %>
                    <tr>
                            <td><%= data.id %></td>
                            <td><%= data.name %></td>
                            <td><%= data.qty %></td>
                            <td><%= data.amount %></td>
                            <td><button type="button" class="btn btn-primary">UPDATE</button></td>
                            <td><button type="button" class="btn btn-danger">DELETE</button></td>
                        </tr>
                <% }); %>
            </tbody>
        </table>
    </body>
</html>